@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 180.00 33.33% 97.06%;
      --foreground: 180.00 100.00% 2.55%;
      
      --primary: 180.00 100.00% 25.10%;
      --primary-foreground: 0.00 0.00% 100.00%;
      
      --card: 180.00 33.33% 97.06%;
      --card-foreground: 180.00 100.00% 2.55%;
      
      --popover: 0.00 0.00% 100.00%;
      --popover-foreground: 180.00 100.00% 2.55%;
      
      --secondary: 180.00 33.33% 88.82%;
      --secondary-foreground: 180.00 100.00% 0.98%;
      
      --muted: 180.00 31.58% 92.55%;
      --muted-foreground: 0.00 0.00% 40.00%;
       
      --accent: 180.00 31.58% 92.55%;
      --accent-foreground: 180.00 100.00% 25.10%;
      
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
      
      --border: 0.00 0.00% 90.20%;
      --input: 0.00 0.00% 90.20%;
      --ring: 180.00 100.00% 25.10%;
      
      --radius: 0.5rem;
    }

    .dark {
      --background: 180.00 100.00% 0.98%;
      --foreground: 180.00 33.33% 88.82%;
      
      --primary: 180.00 100.00% 25.10%;
      --primary-foreground: 0.00 0.00% 100.00%;
      
      --card: 180.00 100.00% 0.98%;
      --card-foreground: 180.00 33.33% 88.82%;
      
      --popover: 180.00 100.00% 0.98%;
      --popover-foreground: 180.00 33.33% 88.82%;
      
      --secondary: 180.00 100.00% 8.82%;
      --secondary-foreground: 0.00 0.00% 100.00%;
      
      --muted: 180.00 9.09% 10.78%;
      --muted-foreground: 180.00 0.79% 50.59%;
       
      --accent: 180.00 100.00% 8.82%;
      --accent-foreground: 180.00 33.33% 88.82%;
      
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
      
      --border: 0.00 0.00% 14.90%;
      --input: 0.00 0.00% 14.90%;
      --ring: 180.00 100.00% 25.10%;
      
      --radius: 0.5rem;
    }

  
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
    h1 {
      @apply font-bold;
    }
  }




  :root, html, body {
    height: 100%;
  }
